/* 크기 */
.xxxxs-font {
  font-size: 11px;
}
.xxxs-font {
  font-size: 12px;
}
.xxs-font {
  font-size: 13px;
}
.xs-font {
  font-size: 14px;
}
.sm-font {
  font-size: 15px;
}
.md-font {
  font-size: 16px;
}
.lg-font {
  font-size: 17px;
}
.xl-font {
  font-size: 18px;
}
.xxl-font {
  font-size: 19px;
}
.xxxl-font {
  font-size: 20px;
}
.xxxxl-font {
  font-size: 21px;
}
.xxxxl-font {
  font-size: 22px;
}
.xxxxxl-font {
  font-size: 23px;
}
.xxxxxxl-font {
  font-size: 24px;
}
.hugelarge-font {
  font-size: 35px;
}
