:root {
  --main-col-1: #092a49;
  --main-col-2: #848f9a;

  --red-col: #f24e55;
  --yellow-col: #f4a41a;
  --green-col: #00a381;
  --blue-col: #005fba;

  --logo-font: "Shrikhand";

  --thin-font: "Pretendard-Thin";
  --extralight-font: "Pretendard-ExtraLight";
  --light-font: "Pretendard-Light";
  --regular-font: "Pretendard-Regular";
  --medium-font: "Pretendard-Medium";
  --semibold-font: "Pretendard-SemiBold";
  --bold-font: "Pretendard-Bold";
  --extrabold-font: "Pretendard-ExtraBold";
  --black-font: "Pretendard-Black";

  --point-font: "GeekbleMalang2WOFF2";
}
